<%# This should hold all HTML that is at the top of pages
that should be in common every page in your application %>

<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Answers Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
